extends layout

block content
	.main.container.text-xs-center
		h1.display-3 Welcome to ChatApp!
		p.lead Have a nice talk with your friends and family in ChatApp

		form#login-form(method='POST' action='/login')
			.col-md-6.offset-md-3
				.col-md-12.form-group
					label.col-md-2.col-form-label.col-form-label-md.label(for="username") Username
					.col-md-8.form-group
						input.form-control(type="text" autofocus required id="username" placeholder="username" name="username")
					button#login-btn.btn.btn-red.col-md-2(type='submit') Login
				#error-msg.col-md-12.alert.alert-danger(style="display: none")
					div Error! The username selected is already in use, please choose a different one.

append scripts
	script(src='/src/login.js', type='text/javascript')
