/* Base Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font: 13px Helvetica, Arial;
    background: url('../images/bg.png');
}
a:hover {
    color: rgba(49,176,213, .7);
}
h1 {
    color: #598bea;
}

/* Component Styles */

.navbar {
    padding: 1rem 0;
    background: rgba(0,0,0, .25);
}
.main {
    color: #598bea;
    min-height: calc(100vh - 34px);
}
.foot {
    font-size: .85rem;
    padding: .5rem 0;
    color: rgba(255,255,255, .6);
}

/* Modifier Styles */

.nav-items .nav-link {
    margin: 0 1rem;
}
.navbar-brand {
    margin: 0;
}
.navbar .nav-link,
.navbar .btn {
    text-transform: uppercase;
    font-size: .95rem;
}
.list-group {
    color: initial;
}
.label {
    font-size: 16px;
    vertical-align: middle;
}

/* Button Styles */

.btn {
    -webkit-appearance: inherit;
}

.btn-primary {
    background: #417aba;
    border-color: #417aba;
}
.btn-info {
    background-color: #31b0d5;
    border-color: #2aabd2;
}
.btn-info:hover {
    background-color: #5bc0de;
    border-color: #5bc0de;
}
.btn-lg,
.btn-red {
    background-color: crimson;
    color: white!important;
}
.btn-lg:hover,
.btn-red:hover {
    color: #989898!important;
}
.btn-gray {
    background-color: dimgray;
    color: #eeeeee!important;
}
.btn-light {
    color: rgba(255,255,255, .75);
    background: rgba(255,255,255, .12);
}
.btn-light:hover {
    background: rgba(255,255,255, .2);
}
.active,
.btn {
    transition: .4s;
}
.btn-logout {
    float: right;
}
.color-container {
    margin-top: 10px;
}

/* Chat Styles */
#messages {
    list-style-type: none;
    margin: 15px 0;
    padding: 0;
    min-width: 50%;
    min-height: 70%;
    background-color: #ececec;
    max-height: 500px;
    overflow-y: auto;
}

#messaging-form > div {
    padding: 0px;
}

#messages li {
    padding: 10px 10px;
}

#messages li:nth-child(odd) {
    background: #fbfbfb;
}

.msg-container {
    line-height: 38px;
}

.trash-icon {
    float: right;
    cursor: hand;
}

/* Icon Styles */

.icn-logo {
    margin: 3px 3px 0;
    float: left;
}
.icn-person {
    font-size: 50px;
    border-radius: 50%;
    border: solid 2px;
    padding: .5rem;
}
.avatar {
    width: 35px;
    margin-right: 18px;
    border: solid 2px rgba(255,255,255, .75);
}
.options {
    display: none;
}
.list-group-item:hover .options {
    display: block;
}
.options .material-icons {
    font-size: 1.25rem;
    cursor: pointer;
    margin-left: 1rem;
    color: rgba(0,0,0, .35);
}
.options .material-icons:hover {
    color: initial;
}

.submenu {
    font-size: 14px;
    height: 25px;
    vertical-align: middle;
    margin: 0px 10px 0px 0px;
    color: #e0dfdf;
}
#colorpicker {
    width: 25px;
    height: 25px;
    border: 3px solid #a0a0a0;
    background-color: #000;
    vertical-align: sub;
}

/* Media Queries */

@media (min-width: 0) and (max-width: 47em) {
    .navbar {
        background: #1d2a33;
    }
    .nav-items .nav-item {
        float: none;
    }
    .nav-items .nav-link  {
        padding: .65rem 0;
        display: block;
    }
    .nav-items {
        padding: 1rem 0;
        clear: left;
    }
    .navbar .btn {
        margin-left: 1rem;
    }
    .main {
        padding-top: 6rem;
    }
    .main-chat {
        padding-top: 1rem;
    }
    h1.chat-title.display-5 {
        font-size: 1.5rem;
        font-weight: 300;
        margin: 0;
        display: inline-block;
    }
    .display-3 {
        font-size: 2.5rem;
    }
    .lead {
        margin-bottom: 1.5rem;
        font-size: 1rem;
    }
}

@media (min-width: 48em) {
    .navbar {
        min-height: 70px;
    }
    .navbar-nav .container {
        display: -webkit-flex;
        display: flex;
    }
    .nav-items {
        margin-right: auto;
        margin-left: auto;
    }
    .main {
        padding-top: 8rem;
    }
    .main-chat {
        padding-top: 2rem;
    }
    h1.chat-title.display-5 {
        font-size: 2.5rem;
        font-weight: 300;
        margin: 0;
        display: inline-block;
    }
    .lead {
        margin-bottom: 2.5rem;
    }
}

